body {
  margin: 0;
  padding: 0;
  font-family: Circular;
}

@font-face {
  font-family: Circular;
  font-weight: 400;
  src: url("fonts/circular-medium.woff") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: bold;
  src: url("fonts/circular-bold.woff") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 300;
  src: url("fonts/circular-book.woff") format("opentype");
}

.blade {
  background: #2c343f;
}

.blade-1 {
  transform: rotate(0deg);
}
.blade-2 {
  transform: rotate(60deg);
}
.blade-3 {
  transform: rotate(120deg);
}
